<!DOCTYPE html>
{% extends 'Backend_page.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body" style="background-colour:white">
                    <h4 class="card-title">Destinations</h4>
                    <p class="card-description">
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> Name </th>
                            <th> Description </th>
                            <th> Image </th>
                          </tr>
                        {% for d in data %}
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{d.Name}} </td>
                            <td>{{d.Description}} </td>
                            <td>
                              <img src="{{d.Image.url}}" width="200px" height="200px">
                            </td>
                            <td>
                                <a href="{% url 'Edit_Packages' c_id=d.id %}">
                                    <button type="submit" class="btn btn-success">Edit</button>
                                </a>
                                <a href="{% url 'Delete_Package' c_id=d.id %}">
                                    <button type="submit" class="btn btn-success">Delete</button>
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}